# Core
python-dateutil>=2.8.2

# GUI
tkcalendar>=1.6.1
tkhtmlview>=0.2.0

# Windows / Outlook integration
pywin32>=306

# Packaging
pyinstaller>=6.3.0
win10toast
ttkbootstrap
requests
pandas
openpyxl
